.vscode/
.project
.pydevproject
.DS_Store
build/
dist/
flor.egg-info/
experiment_graph.pkl
output.gv
output.gv.pdf
grit/.git
grit/.gitignore
grit/LICENSE
grit/README.md
grit/python/setup.py
grit/python/tests/
*.ipynb_checkpoints/
*__pycache__/
*.idea/
*.csv
*logs/
*.json
rtd/_build
pyflor.egg-info/
profiler/data1/
profiler/data2/
profiler/**/data/
.pytest_cache/
