GitPython>=2.1.7
jsonpickle>=0.9.5
jsonschema>=2.6.0
pandas>=0.21.0
requests>=2.20
requests-oauthlib>=0.8.0
msgpack>=0.5.6
msgpack-python>=0.5.6
cloudpickle>=0.5.3
astor>=0.6
astunparse>=1.6.1
ipykernel
notebook