GitPython==2.1.7
jsonpickle==0.9.5
jsonschema==2.6.0
pandas==0.21.0
graphviz==0.8.1
requests==2.18.4
requests-oauthlib==0.8.0
tqdm==4.19.5
tensorflow==1.4.0
msgpack==0.5.6
msgpack-python==0.5.6
cloudpickle==0.5.3
